<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wearsky.demo.user.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wearsky.demo.user.domain.entity.Permission">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>
    <select id="selectCodeByUserId" resultType="java.lang.String">
        select distinct p.code
        from permission p
            inner join role_permission rp on p.id = rp.permission_id
            inner join user_role ur on rp.role_id = ur.role_id
        where ur.user_id = #{userId}
    </select>

    <select id="selectUserIdsByPermissionId" resultType="java.lang.Long">
        select distinct ur.user_id
        from user_role ur
            inner join role_permission rp on ur.role_id = rp.role_id
        where rp.permission_id = #{permissionId}
    </select>

</mapper>
