<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wearsky.demo.user.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wearsky.demo.user.domain.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="description" property="description"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="selectCodeByUserId" resultType="java.lang.String">
        select code
        from role
                 inner join user_role on role.id = user_role.role_id
        where user_role.user_id = #{userId}
    </select>

    <select id="selectUserIdsByRoleId" resultType="java.lang.Long">
        select user_id from user_role where role_id = #{roleId}
    </select>

</mapper>
